h1 {
  color: yellow;
  text-align: center;
  font-size: 32px;
}
h3 {
  color: orange;
  font-style: italic;
  text-align: center;
}
p {
  font-family: sans-serif;
   color: white;
}
body {
  background-color: black;
}
ul {
  line-height: 40px;
  font-family: sans-serif;
   color: white;
}
ol {
  font-family: sans-serif;
   color: white;
}
strong {
  font-style: italic;
}
em {
  font-weight: bold;
}
